<mat-progress-bar mode="indeterminate" class="bottomsheet-progress" *ngIf="loading"></mat-progress-bar>
<div class="container-fluid" *ngIf="resetStage === 1">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <h4><b class="gd-primary-text">Forgot Password?</b></h4>
      <hr>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <p>Please enter your registered email address</p>
      <mat-form-field class="input-text">
        <input matInput type="text" placeholder="Email" [(ngModel)]="resetEmail" name="resetEmail" #resetEmailTag="ngModel"
          required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" (ngModelChange)="onResetEmailChange()">
      </mat-form-field>
      <div class="error-msg-container">
        <div *ngIf="resetEmailTag.touched && !resetEmailTag.valid" class="alert alert-danger">
          <small *ngIf="(resetEmailTag.errors && resetEmailTag.errors.pattern)">Please
          enter a valid email address</small>
          <small *ngIf="(resetEmailTag.errors && resetEmailTag.errors.required)">Email address is required</small>
        </div>
        <div *ngIf="showError" class="alert alert-danger">
          <small>{{msgError}}</small>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <button mat-raised-button class="gd-primary-gradient btn-block" (click)="onSubmit()"  >Submit</button>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="resetStage === 2">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <h4><b class="gd-primary-text">Forgot Password?</b></h4>
      <hr>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <p>OTP has been sent to <b>{{userdata.email}}</b></p>
      <mat-form-field class="input-text" appearance="outline">
          <mat-label>OTP</mat-label>
        <input matInput type="text" placeholder="Please enter the OTP sent to your email" [(ngModel)]="passOTP" name="passOTP" #resetOTPTag="ngModel"
          required pattern="^\d{4}\b">
      </mat-form-field>
      <div class="error-msg-container">
        <div *ngIf="resetOTPTag.touched && !resetOTPTag.valid" class="alert alert-danger">
          <mat-error>Invalid OTP</mat-error>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <button mat-raised-button class="gd-primary-gradient btn-block" (click)="onSubmit()"  >Submit</button>
    </div>
  </div>
</div>