<mat-progress-bar mode="indeterminate" class="bottomsheet-progress" *ngIf="loading"></mat-progress-bar>
<div class="container-fluid" *ngIf="resetStage === 1">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <h4><b class="gd-primary-text">Forgot Password?</b> <button mat-icon-button color="accent" (click)="bottomSheetRef.dismiss()" class="pull-right" style="margin-top:-10px;"><mat-icon>clear</mat-icon></button></h4>
      <hr>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <p>Please enter your registered email address</p>
      <mat-form-field class="input-text" appearance="outline">
        <mat-label>
          Email
        </mat-label>
        <input matInput type="text" placeholder="Please enter the registered email address" [(ngModel)]="resetEmail" name="resetEmail" #resetEmailTag="ngModel"
          required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" (ngModelChange)="onResetEmailChange()">
      </mat-form-field>
      <div class="error-msg-container">
        <div *ngIf="resetEmailTag.touched && !resetEmailTag.valid" class="alert alert-danger">
          <small *ngIf="(resetEmailTag.errors && resetEmailTag.errors.pattern)">Please
          enter a valid email address</small>
          <small *ngIf="(resetEmailTag.errors && resetEmailTag.errors.required)">Email address is required</small>
        </div>
        <div *ngIf="showError" class="alert alert-danger">
          <small>{{msgError}}</small>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <button mat-raised-button class="gd-primary-gradient btn-block" (click)="onSubmit()" [disabled]="loading">Submit</button>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="resetStage === 2">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <h4><b class="gd-primary-text">Forgot Password?</b> <button mat-icon-button color="accent" (click)="bottomSheetRef.dismiss()" class="pull-right" style="margin-top:-10px;"><mat-icon>clear</mat-icon></button></h4>
      <hr>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <p>OTP has been sent to <b>{{userdata.email}}</b></p>
      <small>OTP expires in <b>{{passRestTimer.hours < 10 ? '0'+passRestTimer.hours : passRestTimer.hours}} : {{passRestTimer.hours < 10 ? '0'+passRestTimer.mins : passRestTimer.mins}} : {{passRestTimer.secs < 10 ? '0'+passRestTimer.secs : passRestTimer.secs}}</b></small>
      <mat-form-field class="input-text" appearance="outline">
          <mat-label>OTP</mat-label>
        <input matInput type="text" placeholder="Please enter the OTP sent to your email" [(ngModel)]="passOTP" name="passOTP" #resetOTPTag="ngModel"
          required pattern="^\d{4}\b">
      </mat-form-field>    
      <div *ngIf="resetOTPTag.touched && !resetOTPTag.valid">
        <mat-error>Invalid OTP</mat-error>
      </div>
      <div *ngIf="incorrectOTP">
        <mat-error>Incorrect OTP</mat-error>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <button mat-raised-button class="gd-primary-gradient btn-block" (click)="onSubmit()"  [disabled]="loading">Submit</button>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="resetStage === 3">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <h4><b class="gd-primary-text">Forgot Password?</b><button mat-icon-button color="accent" (click)="bottomSheetRef.dismiss()" class="pull-right" style="margin-top:-10px;"><mat-icon>clear</mat-icon></button></h4>
      <hr>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <p>Reset Password</p>
      <mat-form-field class="input-text" appearance="outline">
          <mat-label>New Password</mat-label>
        <input matInput type="password" placeholder="Please enter your new password" [(ngModel)]="newPass" name="newPass" #newPassTag="ngModel"
          required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{6,})">
      </mat-form-field>
      <mat-error *ngIf="newPassTag.errors && newPassTag.pattern">
        Password must be at 6 charecters long with minimum one number, uppercase and lowercase letters. 
      </mat-error>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <button mat-raised-button class="gd-primary-gradient btn-block" (click)="onSubmit()"  [disabled]="loading">Submit</button>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="resetStage === 4">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <h4><b class="gd-primary-text">Forgot Password?</b><button mat-icon-button color="accent" (click)="bottomSheetRef.dismiss()" class="pull-right" style="margin-top:-10px;"><mat-icon>clear</mat-icon></button></h4>
      <hr>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <br>     
      <h4 class="text-success">Password changed successfully</h4> 
      <br>     
      <br>     
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <button mat-raised-button class="btn-block btn-success" (click)="onSubmit()"  [disabled]="loading"><mat-icon mat-prefix>done</mat-icon>Close</button>
    </div>
  </div>
</div>