.container-login{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.login-holder{
  margin-top: 10%;
  width: 70%;
  max-width: 1024px;
  left: 15%;
  height: 500px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
 *{
   width: 100%;
 }
 .footer{
   position: absolute;
   bottom: 20px;
   width: 100%;
 }
}

* { box-sizing: border-box; }
.loginForm{
  margin-top: 3vh;
}

