<div class="container-fluid container-login">
  <div class="login-holder">
    <div class="container-fluid" style="height: 100%; padding:0px">
      <div class="row no-gutters" style="height: 100%;">
        <div class="col-lg-6" style="padding:15px;">
          <h3>
            <b>Welcome to</b> Como Acadamey </h3>
          <hr>
          <form class="loginForm" [formGroup]="loginFG" #loginFromRoot="ngForm">
            <mat-form-field appearance="outline">
              <mat-label>
                Username
              </mat-label>
              <input matInput type="text" placeholder="Enter your username" formControlName="username" name="username"
                (ngModelChange)="onChange()" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
              <mat-label>
                Password
              </mat-label>
              <input matInput type="password" placeholder="Enter your password" formControlName="password" name="password"
                (ngModelChange)="onChange()" required>
              <mat-error *ngIf="loginError">
                Incorrect username or password
              </mat-error>
            </mat-form-field>
            <div class="container-fluid">
              <div class="row no-gutters">
                <div class="col-lg-8">
                  <a style="text-decoration: underline" class="gd-primary-text" (click)="openResetPasswordBottomSheet()">Can't
                    login?</a>
                </div>
                <div class="col-lg-4">
                  <button mat-raised-button class="gd-primary-gradient" (click)="loginHandler()">LOGIN</button>
                </div>
              </div>
            </div>
          </form>
          <div class="container-fluid footer">
            <div class="row">
              <hr>
              <div class="col-sm-12 text-center">
                <b class="gd-primary-text">Having Questions?</b>
                <p>Send us an email and we will get back to you</p>
                <button mat-raised-button class="gd-white" style="color: #454545;width: 150px;">Send</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 login-right" style="height: 100%;overflow: hidden;border-bottom-right-radius: 15px;border-top-right-radius: 15px;">
          <!-- <video autoplay style="height: 100%;width: 900px;margin-left: -220px;">
            <source src="assets/vid/intro.mp4" type="video/mp4">
          </video> -->
        </div>
      </div>
    </div>
  </div>
</div>
