<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10">
      <h3>Change Password</h3>
    </div>
    <div class="col-xs-2 text-right m-0">
      <button mat-icon-button (click)="dialogRef.close()">
        <mat-icon aria-label="close change password popup">clear</mat-icon>
      </button>
    </div>
  </div>
</div>
<hr>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Enter you current Password</ng-template>
      <mat-form-field style="width:100%;" appearance="outline">
        <input matInput type="password" placeholder="Current Password" formControlName="currentPassword" required>
        <mat-error *ngIf="validCurrentPassword === false">
          Incorrect Password
        </mat-error>
      </mat-form-field>
      <br>
      <div>
        <button mat-raised-button class="btn btn-block gd-primary-gradient" (click)="submitCurrentPassword()">Submit</button>
      </div>
      <br><br>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Reset Password</ng-template>
      <div class="row mb-3">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <mat-form-field appearance="outline" style="width:100%">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Create new password" required name="newPassword"
              formControlName="newPassword" (change)="clearMatchedPassword()">
            <mat-error *ngIf="newPassword.errors && newPassword.errors.matched === false">
              Password must be atleast 6 charecters long with at least 1 uppercase and lowercase alphabetical
              character and a special character
            </mat-error>
            <mat-error *ngIf="newPassword.value === ''">
              Please provide a new password
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <mat-form-field appearance="outline" style="width:100%">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" placeholder="Confirm Password" required name="confirmPassword"
              formControlName="confirmPassword">
            <mat-error *ngIf="confirmPassword.errors && confirmPassword.errors.matched === false">
              Password dosen't match
            </mat-error>
            <mat-error *ngIf="confirmPassword.errors && confirmPassword.errors.required">
              Please confrim the password
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <br>
      <div>
        <button mat-raised-button class="btn btn-block gd-primary-gradient" (click)="submitNewPassword()">Update
          Password</button>
      </div>
      <br><br>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div class="container-fluid">
      <div class="row mb-3">
        <div class="col-xs-12 text-center">
          <h3 class="text-success">
            <mat-icon>check_circle</mat-icon> Your password has been updated sucessfully.
          </h3>
        </div>
      </div>
    </div>
    <br>
    <div>
      <button mat-raised-button class="btn btn-block gd-primary-gradient" (click)="dialogRef.close()">Close</button>
    </div>
    <br><br>
  </mat-step>
</mat-horizontal-stepper>
