* {
  margin: 0px;
}
.cover-photo {
  width: 100%;
  height: 550px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #795548), url('https://www.gdbase.be/wp-content/uploads/2017/10/Max_GDBase.jpg');
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: top;
}
.profile-details-container {
  margin-top: 160px;
}
.names {
  width: 100%;
  color: #FFF;
  padding-top: 90px;
}
.info, .info-type{
  padding:30px;
  font-size: large;
  font-weight: bolder;
}
.info{
  font-size: medium;
  font-weight: normal;
}
.mat-card{
  width: 90%;
  margin: auto;
  margin-top: 40px;
  border-top: 5px solid #126C75;
  border-radius: 5px;
  .row-info{
    border-bottom: 1px solid #EEE;
  }
  .mat-form-field{
    width: 100%;
  }
}