<div class="sideBar">
  <mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened>
      <ul>
        <li>
          <a mat-button color="basic" [routerLink]="['/admin/dashboard']" [routerLinkActive]="'active'">
            <mat-icon>bar_chart</mat-icon>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a mat-button color="basic" [routerLink]="['/admin/users']" [routerLinkActive]="'active'">
            <mat-icon>people</mat-icon>
            <p>Users</p>
          </a>
        </li>
        <li>
          <a mat-button color="basic" [routerLink]="['/admin/courses']" [routerLinkActive]="'active'">
            <mat-icon>library_books</mat-icon>
            <p>Courses</p>
          </a>
        </li>
        <li>
          <a mat-button color="basic" [routerLink]="['/admin/manage']" [routerLinkActive]="'active'">
            <mat-icon>settings</mat-icon>
            <p>Manage</p>
          </a>
        </li>
      </ul>
    </mat-drawer>
    <div class="sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
