<div class="container-fluid container-user">
  <h3 class="mb-3">Courses</h3>
  <mat-card class="no-padding mat-card">
    <div class="container-fluid" style="padding-top: 15px;">
      <div class="col-sm-12">
        <h5 class="mb-3"><b>Add course</b></h5>
      </div>
      <div class="col-sm-12" class="addcourseForm">
        <form name="addcourse" [formGroup]="addCourseFG" #addcourseFromRoot="ngForm">
          <div class="container-fluid">
            <div class="row mb-3">
              <div class="col-sm-6 pl-0">
                <mat-form-field appearance="outline">
                  <mat-label>Course Title</mat-label>
                  <input matInput type="text" name="CourseTitle" formControlName="courseTitle" required>
                  <mat-error *ngIf="courseTitle.errors && courseTitle.errors.required">
                    Course title is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6 pr-0">
                <mat-form-field appearance="outline">
                  <mat-label>Author</mat-label>
                  <input matInput type="text" name="author" formControlName="author" required>
                  <mat-error *ngIf="authorName.errors && authorName.errors.required">
                    Author name is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-3" style="height:220px;">
              <quill-editor id='companyDescription' formControlName="courseDesp" placeholder="Contact Description"
                style="width:100%; height:150px;" class="field" [modules]="toolbar">
              </quill-editor>
            </div>
            <div class="row mb-3">
              <!-- stage 0 -->
              <div id="drop-area" class="text-center" [ngClass]="{'highlight':insideDropArea}" #dropArea (dragenter)="dragenter($event)"
                (dragleave)="dragleave($event)" (dragover)="dragover($event)" (drop)="drop($event)" *ngIf="scormUploadStage === 0">
                <mat-icon>backup</mat-icon>
                <p>Drop SCORM 1.2 ZIP file here</p>
                <small>Max file size 1GB</small>
                <input type="file" name="scormUpload" style="display:none">
                <mat-error *ngIf="uplaodError">{{uplaodError}}</mat-error>
              </div>
              <!-- stage 1 -->
              <div class="progress-container text-center" *ngIf="scormUploadStage === 1">
                <mat-progress-spinner *ngIf="uplaodProgress < 100" color="accent" mode="determinate" [value]="uplaodProgress"></mat-progress-spinner>
                <br>
                <p *ngIf="uplaodProgress < 100">Uploading SCORM File ({{uplaodProgress}}%)</p>
                <mat-progress-spinner *ngIf="uplaodProgress === 100" color="accent" mode="indeterminate"></mat-progress-spinner>
                <br>
                <p *ngIf="uplaodProgress === 100">Extracting SCORM Package...</p>
              </div>
              <!-- stage 2 -->
              <div class="progress-container text-center" *ngIf="scormUploadStage === 2">
                <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
                <br>
                <p>Validating SCORM Package...</p>
              </div>
              <!-- stage 3 -->
              <div class="progress-container text-center" *ngIf="scormUploadStage === 3">
                <mat-icon>check_circle</mat-icon>
                <p>SCORM Package uploaded successfully</p>
                <small>{{ScromZIPName}}</small>
              </div>
            </div>
            <div class="row mb-3">
              <div class="container-fluid">
                <div class="col-sm-12 text-right p-lg-4">
                  <button mat-raised-button color="primary" class="btn-block" (click)="createCourse()">
                    <mat-icon mat-prefix>import_contacts</mat-icon> Create Course
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-card>
</div>
