@import '~@angular/material/theming';
$gd-colors:("base": #FF6600, "cyan": #36cde8, "hover": #18bc9c, "white": #FFFFFF);
$primary: #FF6600;
$default: #FFFFFF;
$gd-colors-arr:('gd-primary': map-get($gd-colors, 'base'), 'gd-cyan': map-get($gd-colors, 'cyan'), 'gd-hover': map-get($gd-colors, 'hover'), 'gd-white': map-get($gd-colors, 'white'));

.gd-primary-gradient {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  color: white !important;
}

$boxShadow:0 10px 30px 4px rgba(0, 0, 0, 0.2);
$boxShadowHover:0 22px 70px 8px rgba(0, 0, 0, 0.3);

@each $key,
$value in $gd-colors-arr {
  .#{$key} {
    background-color: $value !important;
  }

  .#{$key}-text {
    color: $value !important;
  }

  .#{$key}-border {
    border-color: $value !important;
  }

  button {
    outline: none !important;
  }

  input[type=text].#{$key}-input {
    &:focus {
      border: 1px solid $value !important;
      border-bottom: 1px solid $value !important;
      -webkit-box-shadow: 0 1px 0 0 $value !important;
      box-shadow: 0 1px 0 0 $value !important;
    }
  }
}

@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

* {
  margin: 0px auto;
}

body {
  font-family: 'CircularStd';
}

[mat-raised-button] {
  box-shadow: $boxShadow !important;
  border-radius: 50px !important;
  letter-spacing: 1px;
  transition: all .3s ease-in-out !important;
  top: 0;

  &:hover {
    top: -0.2rem;
    box-shadow: $boxShadowHover !important;
  }
}

[mat-raised-button][color=primary] {
  color: white;
}

a {
  color: $primary;

  &:hover {
    color: $primary;
  }
}

.no-padding {
  padding: 0px;
}

.error-msg-container {
  height: 50px;

  .alert {
    padding: 0.25rem 1.25rem;
  }
}

.input-text {
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  background-color: $default;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
