@import '../../../styles';
h3 {
  font-weight: bold;
  font-size: 19px;
  margin: 0px 15px 15px 15px;
}

mat-card {
  border-top: 5px solid $primary;
  border-radius: 5px;
  padding: 10px;
  .btn-xs {
    font-size: 11px;
    padding: 3px 10px;
    line-height: 24px;
  }
  mat-icon[lg] {
    @include md-icon-size(54px);
  }
}

table {
  width: 100%;
  th {
    background-color: #eee;
    font-weight: 800;
    font-size: 15px;
    color: black;
    height: 40px;
    line-height: 40px;
  }
  td {
    font-weight: 400;
  }
  tbody {
    tr {
      cursor: pointer;
    }
  }
}

tr.user-detail-row {
  height: 0;
}

.user-expanded-row {
  background-color: rgba(255, 102, 0, 0.1);
  border-left: 3px solid #ff6600;
  
}

tr.user-element-row:not(.user-expanded-row):hover {
  background: #f5f5f5;
}

tr.user-element-row:not(.user-expanded-row):active {
  background: #efefef;
}

.user-element-row td {
  border-bottom-width: 0;
}

.user-element-detail {
  overflow: hidden;
  display: flex;
}

.name-card {
  background-color: #ffffff;
  height: 100px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #eee;
  margin: 20px 0px;
  mat-icon {
    border-radius: 50%;
    border: 1px solid #e0e0e0;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 49px;
    font-size: 37px;
    color: rgba(69, 69, 69, .58);
    margin-top: 12px;
    margin-left: 15px;
    float: left;
  }
  .details{
    line-height: 25px;
    padding-top: 7px;
  }
}