<div class="container-fluid">
  <h3 class="mb-3">Dashboard</h3>
  <div class="row">
    <div class="col-sm-6">
      <mat-card>
        <div class="row">
          <div class="col-sm-3">
            <mat-icon lg>people</mat-icon>
          </div>
          <div class="col-sm-8 text-right">
            <h1>
              <b>{{totalUsers}}</b>
            </h1>
            <p>Total Users</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 no-padding text-right" style="height: 50px;line-height: 50px;">
            <button mat-raised-button color="primary" class="btn-xs gd-primary-gradient" (click)="router.navigateByUrl('admin/users')">
              <mat-icon>add</mat-icon> ADD USERS</button>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-sm-6">
      <mat-card>
        <div class="row">
          <div class="col-sm-3">
            <mat-icon lg>library_books</mat-icon>
          </div>
          <div class="col-sm-8 text-right">
            <h1>
              <b>0</b>
            </h1>
            <p>Total Courses</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 no-padding text-right" style="height: 50px;line-height: 50px;">
            <button mat-raised-button color="primary" class="btn-xs gd-primary-gradient" (click)="router.navigateByUrl('admin/courses')">
              <mat-icon>add</mat-icon> ADD COURSES</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <br>
  <div class="row">
    <mat-card style="width: 97%;height: 370px;" class="no-padding">
        <div class="container-fluid" style="padding-top: 15px;">
            <div class="row mb-3">
              <div class="col-sm-8">
                <h5>
                  <b>Your Courses</b>
                </h5>
              </div>
              <div class="col-sm-4">
                <mat-form-field appearance="outline">
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search for courses" type="text">
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
            </div>
          </div>
          <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
            <!-- name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Name </th>
              <td mat-cell *matCellDef="let row" [innerHTML]="row.course_name"></td>
            </ng-container>
            <!-- date Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
              <td mat-cell *matCellDef="let row"> {{row.course_data.dateCreated | date:'fullDate'}} </td>
            </ng-container>
            <!-- Mobile Column -->
            <ng-container matColumnDef="author">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
              <td mat-cell *matCellDef="let row" [innerHTML]="row.course_data.author"></td>
            </ng-container>
            <ng-container matColumnDef="completionRate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Completion Rate</th>
              <td mat-cell *matCellDef="let row"></td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
                <div class="user-element-detail" [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
                  <div class="container-fluid">
                    <div class="row mb-3">
                      <div class="col-sm-4">
                        <div>
                          <div class="row mb-3">
                            <div class="col-sm-12 details">
                              <h4 class="mb-3 mt-3"><mat-icon>import_contacts</mat-icon> <span [innerHTML]="row.course_name"></span></h4>
                              <p [innerHTML]="decodeURI(row.course_data.description)" style="color:grey;"></p>
                              <small *ngIf="row.course_data.enrolled">Enrolled to
                                <b>{{row.course_data.enrolled.length}} students</b>
                              </small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 text-right" style="color:grey; padding-top: 50px;">
                        <div class="row mb-3">
                          <div class="col-lg-4">
                            <a [href]="courseURL + '/' +row.course_id + '/story.html'" target="blank">
                              <button mat-raised-button color="primary" class="btn-xs gd-primary-gradient">
                                <mat-icon>play_circle_filled</mat-icon> Preview Course
                              </button>
                            </a>
                          </div>
                          <div class="col-lg-4">
                            <button mat-raised-button color="primary" class="btn-xs gd-primary-gradient" (click)="enrollUser(row)">
                              <mat-icon>group_add</mat-icon> Enroll Users
                            </button>
                          </div>
                          <div class="col-lg-4">
                            <button mat-raised-button color="primary" class="btn-xs gd-primary-gradient" (click)="openDeleteConfirmDialog(row)">
                              <mat-icon>delete</mat-icon> Delete Course
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="user-element-row" [class.user-expanded-row]="expandedElement === row"
              (click)="toggleExpandRow(row);expandedElement = expandedElement !== row? row:null"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="user-detail-row"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </mat-card>
  </div>
</div>
